@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  transition: all .3s ease;
}

html[class='light'] {
  background-color: #AAB7C6;
  color: black;
}

html[class='dark'] {
  background-color: #2b2a39;
  color: white;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


